<h1>Angular</h1>
<!--<input type="text" appInputFormat [format]="'uppercase'">-->
<!-- <input type="text" [appInputFormat]="'uppercase'">
<courses></courses>

<like
    [likesCount]="tweet.likesCount"
    [isActive]="tweet.isLiked"
></like>
<button [ngStyle]="{
        'backgroundColor': canSave ? 'blue': 'gray',
        'color': canSave ? 'white': 'black',
        'fontWeight': canSave ? 'bold': 'normal'
    }">Save</button>
<span>{{task.assignee?.name}}</span>
<bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p> Some content here</p>
</div>
</bootstrap-panel>
<favourite [is-favourite]="post.isFavourite" (change)="onFavouriteChange($event)"></favourite>
<hr>
<h2>Template-Driven Contact Form</h2>
<contact-form></contact-form>
<h2>Reactive Sign-up Form</h2> 
<signup-form></signup-form>
<hr>
<h2>New Course Form</h2>
<new-course-form></new-course-form>
<h2>Section 9 Assignment - Change Password Form</h2>
<change-password-form></change-password-form>
<h2>Consuming HTTP Services</h2>
<posts></posts>
-->
<nav-bar></nav-bar>
<!-- current route will be displayed AFTER the router-outlet element, not INSIDE -->
<router-outlet></router-outlet>